{% extends 'layout.html' %}

{% block body %}
    <br>
    <div class="jumbotron text-center">
      <h4> This appication helps in detecting whether an image is Colored or Black & White </h4>
      <h4> Tech stack: Flask + Javascript + Bootstrap </h4>
      <br>
      <h4> Steps: </h4>
      <p> 1. Go to detect page </p>
      <p> 2. Choose the image file </p>
      <p> 3. Click the submit button to get the result </p>
      <br>
      <h4> How the application works: </h4>
      <p> The app has 3 endpoints </p>
      <p> 1. /Home -> home.html which is the landiing page </p>
      <p> 2. /detect -> detect.html which is the Rest API endpoint and fallback page </p>
      <p> 3. /about -> about which is this page which contains the information abou the application </p>
      <br>
      <p> 1. The user selects the image </p>
      <p> 2. The image file is uploaded and saved in the static/uploads folder </p>
      <p> 3. The image file is fed to a helper function which provides the results </p>
      <p> 4. The exception cases are handled with the help of flash messages </p>
      <p> 5. The application is built with bootstrap to support reponsive design </p>
      <p> 6. The server logs can be checked for project flow </p>
  	</div>

{% endblock %}
